[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coredatamodules = {editable = true,git = "https://www.github.com/AfricasVoices/CoreDataModules",ref = "130ab935879e87e094669ed0844c5c566cb4eed9"}

[dev-packages]

[requires]
python_version = "3.6"
