[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coredatamodules = {ref = "4d5bf9df674a2a19545b6bdb50cee353b70f8dae",editable = true,git = "https://www.github.com/AfricasVoices/CoreDataModules"}
pytz = "*"

[dev-packages]

[requires]
python_version = "3.6"
